header .top{margin:0 auto; width: 1200px;}
header .top h1 {float:left; padding: 33px;}
header .top h1 a:first-child {margin-right: 28px;}
header .top > div {float: right;}
header .control h2{float: left; font-size: 16px; color:#333; font-weight: normal;}
header .control ul{float: left;}
header .control li{float: left;}

/*
\e913
\e91a
*/